<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1 style="font-family: trebuchet ms">Make Buggy</h1>
  <p style="font-family: trebuchet ms">Default values will be initially pre-entered into the form until successfully changed otherwise</p>  
  <p style="font-family: trebuchet ms">Hamster boosters are only available if either power type or backup power type is hamster</p>
  <p style="font-family: trebuchet ms">The cost of the buggy will be displayed after the buggy is submitted</p> 

<p>
  <p>Errors:</p>
  <div class="message" style="font-family: trebuchet ms">
    {% for message in list_of_msg %}
      <li>{{ message }}</li>
    {% endfor %}
  </div>
</p>

  <form action="/new" method="post">

  <table class="center">
    <tr style="font-family: trebuchet ms">
      <td><label for="qty_wheels">Number of Wheels:</label></td>
      <td><input type="text" name="qty_wheels" value="{{ buggy['qty_wheels'] }}" /></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="tyres">Type of Tyres:</label></td>
      <td><input type="text" name="tyres" value="{{ buggy['tyres'] }}" /></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="qty_tyres">Number of Tyres:</label></td>
      <td><input type="text" name="qty_tyres" value="{{ buggy['qty_tyres'] }}" /></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="flag_color">Colour of Flag:</label></td>
      <td><input type="text" name="flag_color" value="{{ buggy['flag_color'] }}"/></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="flag_color_secondary">Secondary Colour of Flag:</label></td>
      <td><input type="text" name="flag_color_secondary" value="{{ buggy['flag_color_secondary'] }}"/></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="flag_pattern">Flag Pattern:</label></td>
      <td><input type="text" name="flag_pattern" value="{{ buggy['flag_pattern'] }}"/></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="power_type">Power Type:</label></td>
      <td><input type="text" name="power_type" value="{{ buggy['power_type'] }}"/></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="power_units">Units of Power:</label></td>
      <td><input type="text" name="power_units" value="{{ buggy['power_units'] }}"/></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="aux_power_type">Backup Power Type:</label></td>
      <td><input type="text" name="aux_power_type" value="{{ buggy['aux_power_type'] }}"/></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="aux_power_units">Backup Power Units:</label></td>
      <td><input type="text" name="aux_power_units" value="{{ buggy['aux_power_units'] }}"/></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="hamster_booster">Number of Hamster Boosters:</label></td>
      <td><input type="text" name="hamster_booster" value="{{ buggy['hamster_booster'] }}"/></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="armour">Armour type:</label></td>
      <td><input type="text" name="armour" value="{{ buggy['armour'] }}"/></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="attack">Attack method:</label></td>
      <td><input type="text" name="attack" value="{{ buggy['attack'] }}"/></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="qty_attacks">Number of Attacks:</label></td>
      <td><input type="text" name="qty_attacks" value="{{ buggy['qty_attacks'] }}"/></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="algo">Race Algorithm:</label></td>
      <td><input type="text" name="algo" value="{{ buggy['algo'] }}"/></td>
    </tr>

    </table>

    <input type="submit" class="button" style="font-family: trebuchet ms">
  </form>
  <p>
    <a href="/" class="button">Home</a>
   </p>
   <img src="static/buggy.png">
{% endblock %}
