<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1 style="font-family: trebuchet ms">Make Buggy</h1>
    <div class="message" style="font-family: trebuchet ms">
    {% for message in list_of_msg %}
      <li>{{ message }}</li>
    {% endfor %}
  </div>
  <form action="/new" method="post">

  <table class="center">
    <tr style="font-family: trebuchet ms">
      <td><label for="qty_wheels">Number of Wheels:</label></td>
      <td><input type="text" name="qty_wheels" value="{{ buggy['qty_wheels'] }}" /></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="flag_color">Colour of Flag:</label></td>
      <td><input type="text" name="flag_color" value="{{ buggy['flag_color'] }}" /></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="flag_color_secondary">Secondary Colour of Flag:</label></td>
      <td><input type="text" name="flag_color_secondary" value="{{ buggy['flag_color_secondary'] }}" /></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="flag_pattern">Flag Pattern:</label></td>
      <td><input type="text" name="flag_pattern" value="{{ buggy['flag_pattern'] }}" /></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="power_type">Power Type:</label></td>
      <td><input type="text" name="power_type" /></td>
    </tr>

    <tr style="font-family: trebuchet ms">
      <td><label for="power_units">Units of Power:</label></td>
      <td><input type="text" name="power_units" /></td>
    </tr>
    </table>

    <input type="submit" class="button" style="font-family: trebuchet ms">
  </form>
  <p>
    <a href="/" class="button">Home</a>
   </p>
   <img src="static/buggy.png">
{% endblock %}
