{% extends "base.html" %}

{% block content %}

<h1>Buggy</h1>

 <style>
  {% for buggy in buggies %}
  .flag-{{buggy['id']}}{
    {% if buggy['flag_pattern'] == 'vstripe' %}
    background: repeating-linear-gradient(
            90deg,
            {{ buggy['flag_color'] }},
            {{ buggy['flag_color'] }} 10px,
            {{ buggy['flag_color_secondary']}} 10px,
            {{ buggy['flag_color_secondary']}} 20px
            );
    {% elif buggy['flag_pattern'] == 'hstripe' %}
    background: linear-gradient(
    {{ buggy['flag_color'] }},
    {{ buggy['flag_color'] }} 50%,
    {{ buggy['flag_color_secondary']}} 50%,
    {{ buggy['flag_color_secondary']}}
    );
    background-size: 100% 20px;
    {% elif buggy['flag_pattern'] == 'dstripe' %}
    background: repeating-linear-gradient(
    30deg,
    {{ buggy['flag_color'] }},
    {{ buggy['flag_color'] }} 10px,
    {{ buggy['flag_color_secondary']}} 10px,
    {{ buggy['flag_color_secondary']}} 20px
    );
    {% elif buggy['flag_pattern'] == 'checker' %}
    background-image:
      linear-gradient(45deg, {{ buggy['flag_color'] }} 25%, transparent 25%), 
      linear-gradient(135deg, {{ buggy['flag_color'] }} 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, {{ buggy['flag_color'] }} 75%),
      linear-gradient(135deg, transparent 75%, {{ buggy['flag_color'] }} 75%);
    background-size:25px 25px;
    {% elif buggy['flag_pattern'] == 'spot' %}
    background-image:
    radial-gradient({{ buggy['flag_color'] }} 35%, transparent 0),
    radial-gradient({{ buggy['flag_color'] }} 35%, transparent 0);
    background-size: 25px 25px;
    background-position: 0 0, 25px 25px;
    {% else %}
    background-color: {{ buggy['flag_color'] }};
    {% endif %}
  }
  {% endfor %}

 </style>

{% for buggy in buggies %}
  <table class="center" style="font-family: trebuchet ms">
   <tr>
     <td>ID:</td> <td> {{ buggy['id'] }} </td>
    </tr>
    <tr>
     <td>Number of Wheels:</td> <td> {{ buggy['qty_wheels'] }} </td>
    </tr>
    <tr>
     <td>Type of Tyres:</td> <td> {{ buggy['tyres'] }} </td>
    </tr>
    <tr>
     <td>Number of Tyres:</td> <td> {{ buggy['qty_tyres'] }} </td>
    </tr>
    <tr>
     <td>Colour of Flag:</td> <td> {{ buggy['flag_color'] }} </td>
    </tr>
    <tr>
     <td>Secondary colour of Flag:</td> <td> {{ buggy['flag_color_secondary']}} </td>
    </tr>
    <tr>
     <td>Flag Pattern:</td> <td> {{ buggy['flag_pattern'] }} </td>
    </tr>
    <tr>
     <td>Power Type:</td> <td> {{ buggy['power_type'] }} </td>
    </tr>
    <tr>
     <td>Units of Power:</td> <td> {{ buggy['power_units'] }} </td>
    </tr>
    <tr>
     <td>Backup Power Type:</td> <td> {{ buggy['aux_power_type'] }} </td>
    </tr>
    <tr>
     <td>Backup Power Units:</td> <td> {{ buggy['aux_power_units'] }} </td>
    </tr>
    <tr>
     <td>Number of Hamster Booster:</td> <td> {{ buggy['hamster_booster'] }} </td>
    </tr>
    <tr>
     <td>Type of Armour:</td> <td> {{ buggy['armour'] }} </td>
    </tr>
    <tr>
     <td>Attack Method:</td> <td> {{ buggy['attack'] }} </td>
    </tr>
    <tr>
     <td>Number of Attacks:</td> <td> {{ buggy['qty_attacks'] }} </td>
    </tr>
    <tr>
     <td>Race Algorithm:</td> <td> {{ buggy['algo'] }} </td>
    </tr>
    <tr>
        <td colspan="2"><a href="/edit/{{ buggy['id'] }}"> Edit Buggy</td>
    </tr>
    <tr>
        <td colspan="2"><a href="/delete/{{ buggy['id'] }}"> Delete Buggy</td>
    </tr>
  </table>


  <table class="center" style="font-family: trebuchet ms">
    <tr>
        <td span="1" style="width: 45%;">Buggy Flag:</td>
        <td class = "flag-{{ buggy['id'] }}"></td>
    </tr>
  </table>
{% endfor %}
  <p>
    <a href="/" class="button">Home</a>
  </p>
  <img src="/static/buggy.png">

{% endblock %}
